<div class="col-sm-8 col-sm-offset-2">

<!--image select button works and drops down file menu -->
<!--image will automatically upload when the file selected-->
<!--what ng file does is store path and name of the object(local storage) identified with file: file-->
<div class="row"><div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'">Select</div> </div>

<!--separate end point on blur for username and bio -->
<div class="row">
  <input class = "form-control" ng-model="user.username">
</div>

<div class="row">
  <textarea class = "form-control" ng-model="user.bio"></textarea>
</div>
</div>
