<div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <textarea ng-model="newCollab"
                ng-keypress="sendCollab($event)"
                class="form-control"
                placeholder="post collab ... then press enter">
      </textarea>
    </div>
    <div class="row">
      <table>
      <tr ng-repeat="collab in collabs">
          <td>hola hola {{collab.user}}
            <image ng-src="{{collab.userImage}}" class="img-responsive">
          </td>

          <td>
            {{collab.date | date: 'MM/dd/yyyy hh:mm'}}
          </td>
      </tr>
      </table>
    </div>
</div>
